.jumbotron {
  padding: 4rem 2rem;
  background-color: #e9ecef;
}

.blog-footer {
  padding: 2.5rem 0;
  color: #666565;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 0.05rem solid #e5e5e5;
