.jumbotron {
  padding: 4rem 2rem;
  background-color: #e9ecef;
}

.blog-footer {
  padding: 2.5rem 0;
  color: #666565;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 0.05rem solid #e5e5e5;
}

.map-container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.map-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.img-post {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}
